*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(245, 187, 206);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.container{
    background-color: paleturquoise;
    color: rgb(22, 88, 95);
    font-size: 40px;
    padding: 10px;
    border: 1px solid yellowgreen;
    width: 70%;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
}
p{
    margin-left: 100px;
    animation-name: moving;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes moving {
    from{
        margin-right: 100%;
    }
    to{
        margin-left: -100%; /*takes content out of the box to left*/
    }
}